<div id="user_need">
  <h2>User Needs</h2>
  <style>
    table, th, td {
      padding: 20px;
    }
    table {
      border-spacing: 15px;
    }
  </style>
  <table cellspacing="100">
    <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody>
    <% @needs.each do |need| %>
      <% if need.group == @group %>
        <tr>
          <td><%= need.user %></td>
          <td><%= need.item %></td>
          <td><%= need.quantity %></td>
          <td><%= link_to 'Show', need %></td>
          <td><%= link_to 'Edit', edit_need_path(need) %></td>
          <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
  <hr>
</div>







<div id="group_need">
  <h2>Group Needs</h2>
  <style>
    table, th, td {
      padding: 20px;
    }
    table {
      border-spacing: 15px;
    }
  </style>
  <table cellspacing="100">
    <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody>
    <% @needs.each do |need| %>
      <% if need.group == @group %>
        <tr>
          <td><%= need.user %></td>
          <td><%= need.item %></td>
          <td><%= need.quantity %></td>
          <td><%= link_to 'Show', need %></td>
          <td><%= link_to 'Edit', edit_need_path(need) %></td>
          <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
  <hr>
</div>







<div id="create_need">
  <h3>Create new need</h3>
  <%= form_with(model:Need, method: "post") do |form| %>
    <%= hidden_field_tag 'group_id', @group.id %>
    <%= hidden_field_tag 'user_id', current_user.id %>
    <%= form.select :item, Item.pluck(:name).uniq, include_blank: false %>
    <%= form.number_field(:quantity, placeholder: "0.0", required: true) %>
    <br>
    <br>
    <%= form.submit("Create") %>
  <% end %>
</div>
