<div id="need">
<div id="user_need">
  <h3>User Needs</h3><hr>
  <style>
    table, th, td {
      padding: 5px;
      font-size: 15px;
    }
    td{
      width: 100px;
    }
    table {
      border-spacing: 10px;
    }
  </style>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody>
    <% @needs.each do |need| %>
      <% if need.group == @group && need.status != "Resolved"%>
        <tr>
          <td><%= need.user.first_name %></td>
          <td><%= need.item.name %></td>
          <td><%= need.quantity %></td>
<!--          <td><%#= link_to 'Show', need %></td>-->
<!--          <td><%#= link_to 'Edit', edit_need_path(need) %></td>-->
          <% if @group.status == "Unlocked" %>
            <td><%= link_to 'Cancel', need_path(id:need.id, group_id: @group.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
</div>







<div id="group_need">
  <h3>Total Group Needs</h3><hr>
  <style>
    table, th, td {
      padding: 3px;
    }
    table {
      border-spacing: 0px;
    }
    td{
      width: 150px;
    }
  </style>
  <table cellspacing="10">
    <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
    </thead>

    <tbody>
    <% @group_needs.each do |need| %>
      <tr>
        <td><%= need[:item] %></td>
        <td><%= need[:sum] %></td>
<!--          <td><%#= link_to 'Show', need %></td>-->
<!--          <td><%#= link_to 'Edit', edit_need_path(need) %></td>-->
<!--          <td><%#= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>
</div>
<hr>



<% if @group.status == "Unlocked" %>

  <div id="create_need">
    <h3>Create new need</h3>
    <%= form_with(model:Need, method: "post", local: true) do |form| %>
      <%= form.hidden_field :group_id, value: @group.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.select :item_id, Item.pluck(:name).uniq, include_blank: false %>
      <%= form.number_field(:quantity, placeholder: "0.0", required: true) %>
      <br>
      <br>
      <%= form.submit("Create") %>
    <% end %>
  </div>
<% end %>