<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @group.user.first_name %>
  </p>

  <div>
    <p>

    <strong>Members</strong>
    <br>
    <% @username.each do |user| %>
      <%= user.first_name  %>
      <%= user.last_name %>
      <%= user.email %>
      <br>
    <% end %>
    </p>
  </div>

  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', :back %>

  <hr>

</div>

<div class="container">
  <div id="back" class="jumbotron">
    <h3>Comments</h3>


  <p id="notice"><%= notice %></p>

  <div class="message-wr">
    <%= render 'messages' %>
    <%= render 'message_form' %>
  </div>
  </div>
</div>
