<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @group.user.first_name %>
  </p>

  <div>
    <p>

    <strong>Members</strong>
    <br>
    <% @username.each do |user| %>
      <%= user.first_name  %>
      <%= user.last_name %>
      <%= user.email %>
      <br>
    <% end %>
    </p>
  </div>
  <div>
    <strong>Add members</strong>
    <div class="field">
      <%= form_tag add_users_path, id: "add_users_in_a_group_form", method: "post" do %>
<!--        <div class="field">-->
          <%#= label_tag(:name, "Name: ") %>
          <%#= text_field_tag(:name) %>
<!--        </div>-->
        <%= hidden_field_tag 'group_id', @group.id %>
        <div class="field">
          <% label_tag(:search_user, "Search: ") %>
          <%= text_field_tag(:search_user) %>
        </div>
        <%= submit_tag("Add") %>

      <% end %>
    </div>

  </div>

  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', :back %>

</div>


<p id="notice"><%= notice %></p>

<div class="message-wr">
  <%= render 'messages' %>
  <%= render 'message_form' %>
</div>
