<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid #ccc;">
<!--    <div class="col-sm-3 col-md-2 sidebar">-->
<!--      <ul class="nav nav-sidebar">-->
<!--        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
<!--        <li><a href="#">Reports</a></li>-->
<!--        <li><a href="#">Analytics</a></li>-->
<!--        <li><a href="#">Export</a></li>-->
<!--      </ul>-->
<!--    </div>-->

    <div class="col-sm-6 col-md-10 main">
      <div class="container">
      <table class="table">
        <h3>User Details</h3>
        <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Registered on</th>
          <th>Name</th>
          <th>Admin</th>
          <th>Banned</th>
          <th>Ban/Unban</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.in_time_zone("Asia/Bangkok") %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.is_admin %></td>
            <td>
              <% if user.is_banned %>
                <span class="glyphicon glyphicon-ok" style="color: green"></span>
              <% else %>
                <span class="glyphicon glyphicon-remove" style="color: red"></span>
              <% end %>
            </td>
            <td>
              <% if user.is_banned %>
                <%= link_to "Unban", user_admin_ban_user_path(:user_id => user.id), :method => "patch", id: "ban-#{user.id}" %> <span class="glyphicon glyphicon-remove" style="color: red"></span>
              <% else %>
                <% if user.id %>
                  <%= link_to "Ban", user_admin_ban_user_path(:user_id => user.id), :method => "patch", id: "ban-#{user.id}" unless current_user.id == user.id%> <span class="glyphicon glyphicon-ok" style="color: green"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table></div>
      <div class="container">
        <table class="table">
          <h3>User Statistics</h3>
          <th>Total Users</th>
          <th>Admin Users</th>
          <th>Banned Users</th>
          <tr>
            <td>
              <%= @users.count %>
            </td>
            <td>
              <%= @users.where(is_admin: true).count %>
            </td>
            <td>
              <%= @users.where(is_banned: true).count %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>