<% if user_signed_in? %>
  <% if current_user.is_banned%>
    <div class="container">
      <div class="jumbotron"><h2>You have been banned!</h2><br>
      Please contact the administrator.
      </div>
    </div>
  <% else %>

    <div class="container" style="width:1000px;">
      <div class="jumbotron" style="width:400px; height: auto; float:left;"><h2>Welcome</h2><br>
        <%= link_to "My Profile", "/profile/show" %>
        <br>
        <%= link_to "Create a group", new_group_path, data: { turbolinks: false } %>
      </div>
      <div class="jumbotron" style="width: 500px; height: auto; float:right;"><h2>My Groups</h2><br>
        <table cellpadding="10" cellspacing="10">
          <thead>
          <tr>
            <th>Name</th>
            <th>Admin</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
            <% if !@groups.nil? %>
              <% @groups.each do |group| %>
                <tr>
                  <td><%= group.name %></td>
                  <td><%= group.user.first_name %></td>
                  <td><%= link_to 'Show', group %></td>
                  <% if group.user == current_user %>
                    <td><%= link_to 'Edit', edit_group_path(group) %></td>
                    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
    </div>
  <% end %>
<% end %>

<% if !user_signed_in? %>
  <div class="container"><div class="jumbotron">
  <h3>Create an account</h3>
  <%= form_with scope: "user", class: 'sign_up', local: true, method: "post", url: user_registration_path do |form| %>
    <div class = input_group>
      <label>
        <%= form.text_field :first_name, id: "sign_up_first_name", placeholder: "First name", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.text_field :last_name, id: "sign_up_last_name", placeholder: "Last name", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.email_field :email, id: "sign_up_email", placeholder: "Email", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
          <%= form.password_field :password, id: "sign_up_password", placeholder: "New password", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.submit "Sign up" %>
      </label>
    </div>

    <% end %>
  </div></div>
  <hr>
  <div class="container"><%= link_to "Basics", "/basics" %><br></div>
  <div class="container"><%= link_to "Documentation", "/documentation" %><br></div>
<% end %>