<% if user_signed_in? %>
  <% if current_user.is_banned%>
    <div class="container">
      <div class="jumbotron"><h2>You have been banned!</h2><br>
      Please contact the administrator.
      </div>
    </div>
  <% else %>
  <%= link_to current_user.first_name, "/profile/show" %>
  <br>
  <strong>DASHBOARD</strong>
  <br>
  <strong>UNDER CONSTRUCTION</strong>
  <% end %>
<% end %>

<% if !user_signed_in? %>
  <div class="container"><div class="jumbotron">
  <h3>Create an account</h3>
  <%= form_with scope: "user", class: 'sign_up', local: true, method: "post", url: user_registration_path do |form| %>
    <div class = input_group>
      <label>
        <%= form.text_field :first_name, id: "sign_up_first_name", placeholder: "First name", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.text_field :last_name, id: "sign_up_last_name", placeholder: "Last name", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.email_field :email, id: "sign_up_email", placeholder: "Email", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
          <%= form.password_field :password, id: "sign_up_password", placeholder: "New password", :required => true %>
      </label>
    </div>

    <div class = input_group>
      <label>
        <%= form.submit "Sign up" %>
      </label>
    </div>

    <% end %>
  </div></div>
  <hr>
  <div class="container"><%= link_to "Basics", "/basics" %><br></div>
  <div class="container"><%= link_to "Documentation", "/documentation" %><br></div>
<% end %>