<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .footer {
        position: fixed;
        left: 25%;
        bottom: 0;
        width: 50%;
        background-color: gray;
        color: white;
        text-align: center;
      }
    </style>

    <title>ProblemSets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="footer">
    <a href="https://validator.w3.org/nu/?doc=<%= request.original_url %>"><h3>Validate this page!</h3></a>
  </div>
    <%= yield %>
  </body>
</html>
