<h3>Quotations</h3>
<ul>
  <% for quotation in @quotations %>
    <li><%= h quotation.author_name %>: <%= h quotation.quote %></li>
  <% end %>
</ul>
<br/>
<% if params[:sort_by] == "date" %>
  <%= link_to "Sort by category", :action => :quotation, :sort_by => :category %>
<% else %>
  <%= link_to "Sort by date", :action => :quotation, :sort_by => :date %>
<% end %>
<hr/>

<h4>Search</h4>
<%= form_with local: true, :url => { :action => :quotation } do |form| %>
  <div class="form_row">
    <%= form.label "Search" %>
    <%= form.text_field :search, :size => 20, :maxlength => 40 %>
    <%= form.submit "Search" %>
  </div>

<% end %>
<hr>

<h3>New quotation</h3>
<%= form_with model: @quotation, local: true, :url => { :action => :quotation } do |form| %>
  <% @quotation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <fieldset>
    <legend>Enter details</legend>
    <div class="form_row">
      <%= form.label :author_name %>
      <%= form.text_field :author_name, :size => 20, :maxlength => 40 %>
    </div>
    <div class="form_row">
      <%= form.label "New Category" %>
      <%= form.text_field :new_category, :size => 20, :maxlength => 40 %>
    </div>
    <div class="form_row">
      <%= form.label "Existing Category" %>
      <%= form.select :category, Quotation.pluck(:category).uniq, include_blank: true %>
      <%#= form.collection_select :quotation, :category, Quotation.all, include_blank: true %>
    </div>
    <div class="form_row">
      <%= form.label :quote %>
      <%= form.text_area :quote, :rows => 2, :cols => 40, :maxlength => 500 %>
    </div>
  </fieldset>
  <p>
  <div class="form_row">
    <%= form.submit 'Create' %>
  </div>
<% end %>
<%= form_tag ps2_export_json_path, method: "post" do %>
  <%= submit_tag("Export JSON") %>
<% end %>

<%= form_tag ps2_export_xml_path, method: "post" do %>
  <%= submit_tag("Export XML") %>
<% end %>
